@{
    ViewData["Title"] = "Dashboard";
    ViewData["AdminDashboard"] = "active";
    Layout = "AdminLayout";
}
<div class="row">

    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count">
            <div class="dash-counts">
                <div id="pengajuanCount"></div>
                <h5>Pengajuan Peminjaman</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="user"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das1">
            <div class="dash-counts">
                <div id="aktifCount"></div>
                <h5>Peminjaman Diterima</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="user-check"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das2">
            <div class="dash-counts">
                <div id="selesaiCount"></div>
                <h5>Peminjaman Selesai</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="file-text"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das3">
            <div class="dash-counts">
                <div id="totalCount"></div>
                <h5>Total Peminjaman</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="file"></i>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
        <div class="page-title">
            <h4>Request Terbaru</h4>
        </div>
        <div class="table-responsive">
            <table class="table" style="width:100%;" id="newRequest">
                <thead>
                    <tr>
                        <th hidden>#</th>
                        <th>Request Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-4">
        <div class="card shadow-sm p-3 mb-5 bg-body rounded">
            <div class="card-header align-center">
                <div class="card-title">Total Fasilitas</div>
            </div>
            <div class="card-body ">
                <div id="morrisDonut1" class="chart-set align-center"></div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card shadow-sm p-3 mb-3 bg-body rounded">
            <div class="card-header align-center">
                <div class="card-title">Total Request </div>
            </div>
            <div class="card-body">
                <div id="s-line" class="chart-set"></div>
            </div>
        </div>
    </div>


</div>


@section Scripts{
    <script src="~/assets/plugins/morris/raphael-min.js"></script>
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/js/adminDashboard.js" asp-append-version="true"></script>
}