@{
    ViewData["Title"] = "Admin";
    ViewData["AdminDashboard"] = "active";
    Layout = "AdminLayout";
}
<div class="row">
   
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count">
            <div class="dash-counts">
                <h4 class="counter">100</h4>
                <h5>Pengajuan Peminjaman</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="user"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das1">
            <div class="dash-counts">
                <h4 class="counter">100</h4>
                <h5>Peminjaman Diterima</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="user-check"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das2">
            <div class="dash-counts">
                <h4 class="counter">100</h4>
                <h5>Peminjaman Selesai</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="file-text"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das3">
            <div class="dash-counts">
                <h4 class="counter">105</h4>
                <h5>Total Peminjaman</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="file"></i>
            </div>
        </div>
    </div>
</div>

<div class="col-4">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Total Fasility Chart</div>
        </div>
        <div class="card-body">
            <div id="morrisDonut1" class="chart-set"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets/plugins/morris/raphael-min.js"></script>
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/js/adminDashboard.js" asp-append-version="true"></script>
}