@{
    ViewData["Title"] = "Admin";
    Layout = "AdminLayout";
}







<div class="modal fade" id="notifModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="page-title">
                    <h4>Nama Employee</h4>
                </div>
            </div>
            <form class="was-validated" id="emploteeForm">
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <p>Melakukan Request Terhadap Fasilitas bla bla bla....</p>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success btn-sm">Approved</button>
                <button type="button" class="btn btn-danger btn-sm">Rejected</button>
                <div class="action-button">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/adminDashboard.js" asp-append-version="true"></script>
}