@model API.DTOs.Accounts.LoginAccountDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Login</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.jpg">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body class="account-page">
    <div class="main-wrapper">
        <div class="account-content">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset">
                        <div class="login-logo">
                            <img src="~/assets/img/logo.png" alt="img">
                        </div>
                        <div class="login-userheading">
                            <h3>Lupa Kata Sandi</h3>
                            <h4>Masukan Email Anda Untuk Mengganti Ulang Kata Sandi anda</h4>
                            @if (TempData.ContainsKey("Alerts"))
                            {
                                <div class="alert alert-success" role="alert">
                                    @TempData["Alerts"]
                                </div>
                            }
                        </div>
                        <form asp-action="ResetPasswordUser">
                            <div class="form-login">
                                <label asp-for="Email">Email</label>
                                <div class="form-addons">
                                    <input asp-for="Email" type="text" placeholder="Masukan email address">
                                    <img src="~/assets/img/icons/mail.svg" alt="img">
                                </div>
                            </div>
                            <div class="form-login">
                                <div class="alreadyuser">
                                    <h4><a asp-controller="Authentication" asp-action="Index" class="hover-a">Sudah Punya Akun?</a></h4>
                                </div>
                            </div>
                            <div class="form-login">
                                <input type="submit" value="Lupa Kata Sandi" class="btn btn-login" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="login-img">
                    <img src="~/assets/img/login.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Auth.js"></script>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/script.js"></script>
</body>
</html>