@{
    ViewData["Title"] = "Notifications";
    ViewData["AdminNotification"] = "active";
    Layout = "AdminLayout";
}
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>All Notifications</h4>
            <h6>View your all activities</h6>
        </div>
    </div>

    <div class="activity">
        <div class="activity-box">
            <ul class="activity-list" id="list-notification">
            </ul>
        </div>
    </div>

</div>
@section Scripts{
    <script src="~/js/adminNotifications.js" asp-append-version="true"></script>
    <script src="~/js/adminDashboard.js" asp-append-version="true"></script>
}