@{
    ViewData["Title"] = "List Peminjaman";
    ViewData["AdminListPeminjaman"] = "active";
    Layout = "AdminLayout";
}
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>List Peminjaman</h4>
            <h6>Manage list peminjaman</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" style="width:100%;" id="tabelPeminjaman">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Request Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="detailPeminjamanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="page-title">
                    <h4>Detail Peminjaman</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div id="basic-pills-wizard" class="twitter-bs-wizard">
                            <ul class="twitter-bs-wizard-nav">
                                <li class="nav-item ">
                                    <a id="statusRequested" class="nav-link disabled">
                                        <div class="step-icon">
                                            <i class="fa fa-tasks"></i>
                                        </div>
                                    </a>
                                    <span id="requested">Requested</span>
                                </li>
                                <li class="nav-item">
                                    <a id="statusProgress" class="nav-link disabled">
                                        <div class="step-icon">
                                            <i class="fe fe-clock"></i>
                                        </div>
                                    </a>
                                    <span id="OnProssesed">OnProssesed</span>
                                </li>
                                <li class="nav-item">
                                    <a id="statusOnGoing" class="nav-link disabled">
                                        <div class="step-icon">
                                            <i class="fe fe-clock"></i>
                                        </div>
                                    </a>
                                    <span id="onGoing">OnGoing</span>
                                </li>
                                <li class="nav-item">
                                    <a id="statusCompleted" class="nav-link disabled">
                                        <div class="step-icon">
                                            <i class="fe fe-check-circle"></i>
                                        </div>
                                    </a>
                                    <span id="completed">Completed</span>
                                </li>
                            </ul>
                            <div class="my-3">
                                <div class="productdetails">
                                    <ul class="product-bar" id="requestDetail">
                                      
                                        <li id="namaEmployee">
                                            
                                            
                                        </li>
                                        <li id="startDate">
                                            
                                           
                                        </li>
                                        <li id="endDate">
                                            
                                          
                                        </li>
                                        <li id="statusPeminjaman">
                                           
                                           
                                        </li>
                                        <li id="namaRuangan">
                                            
                                           
                                        </li>
                                        <li id="listFasilitas">
                                            <h4>Nama Fasilitas</h4>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer sticky">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>

                <div class="action-button">
                    
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/adminDashboard.js" asp-append-version="true"></script>
    <script src="~/js/adminListPeminjaman.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard/prettify.js"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard/form-wizard.js"></script>
    }
