@{
    ViewData["Title"] = "Home Page";
    ViewData["nameEmployee"] = ViewBag.NameEmployee;
    ViewData["roleEmployee"] = "Employee";
    ViewData["ListFasilitas"] = "active";

    Layout = "_LayoutEmployeePanel";
}


    <div class="page-header">
        <div class="page-title">
            <h4>List Fasilitas</h4>
            <h6>Daftar nama fasilitas yang dapat di pinjam saat ini</h6>
        </div>
        <div class="page-btn">
            <a asp-controller="Panel" asp-action="PeminjamanFasilitas" class="btn btn-added"><img src="~/assets/img/icons/plus.svg" alt="img" class="me-1">Ajukan Peminjaman Fasilitas</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" style="width:100%;" id="tabelFasility">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nama</th>
                            <th>Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

@section Scripts{
    <script src="~/js/adminDashboard.js" asp-append-version="true"></script>
    <script src="~/js/employee/employeeListFasility.js" asp-append-version="true"></script>
}