@{
    ViewData["Title"] = "List Ruangan";
    ViewData["ListRuangan"] = "active";

    Layout = "_LayoutEmployeePanel";
}
<div class="page-header">
    <div class="page-title">
        <h4>List Ruangan</h4>
        <h6>Ruangan yang tampil pada tabel merupakan Ruangan yang dapat di ajukan</h6>
    </div>
    <div class="page-btn">
        <a asp-controller="Panel" asp-action="PeminjamanFasilitas" class="btn btn-added"><img src="~/assets/img/icons/plus.svg" alt="img" class="me-1">Ajukan Peminjaman Fasilitas</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-input">
                    <a class="btn btn-searchset"><img src="~/assets/img/icons/search-white.svg" alt="img"></a>
                </div>
            </div>
            <div class="wordset">
                <ul>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="~/assets/img/icons/pdf.svg" alt="img"></a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="~/assets/img/icons/excel.svg" alt="img"></a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="~/assets/img/icons/printer.svg" alt="img"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table  datanew">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Ruangan</th>
                        <th>Lantai</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PT001</td>
                        <td>Computers</td>
                        <td>N/D</td>
                        <td>N/D</td>
                    </tr>
                    <tr>
                        <td>PT002</td>
                        <td>Fruits</td>
                        <td>N/D</td>
                        <td>N/D</td>
                    </tr>
                    <tr>
                        <td>PT003</td>
                        <td>Fruits</td>
                        <td>N/D</td>
                        <td>N/D</td>
                    </tr>
                    <tr>
                        <td>PT004</td>
                        <td>Fruits</td>
                        <td>N/D</td>
                        <td>N/D</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>